MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=reservation_salles
MYSQL_USER=reservation_user
MYSQL_PASSWORD=reservation_password
APP_ENV=production
APP_DEBUG=false
DB_DRIVER=mysql
DB_HOST=db
DB_PORT=3306
RENDER_MODE=html
PMA_HOST=db
